		li 		{
					line-height: 150%;
				}
		
		h1		{
					font-size: 72pt;
					font-family: Calibri;
					line-height: 10%; <!--stops page title from having so much top and bottom padding-->
				}
	  
		body	{
					background-image: url("colored cones and lines.jpeg");
					background-repeat: no-repeat;
					background-position: right top;
					background-attachment: fixed;
					background-size: 100%;
					font-size: 100%;
				}
		
		div		{
					background-color: white;
					opacity: 0.9;
					padding: 1%;
					margin: 2%;
					font-family: Arial;
					font-size: 1em;
				}
				
		a		{ 	
					color: #cc6600;
					text-decoration: none;
				}
		
		.orangeboxholder	{
								max-width: 100%;
								margin: -1% -1% 0% 33%;
								/*border: 1px solid black;*/
								text-align: right;
							}
		.orangebox { 
					  margin: auto;
					  display: inline-block;
					  background-color: gold;
					  width: 15%;
					  height: 1em;
					  padding: 1%;
					  margin: 0%;
					  text-align: center;
					  border: solid darkorange 2px;
					  border-radius: 7px;
					  font-family: Arial;
					  font-size: 1.125em;
					  font-weight: normal;
					}
		
		.midbox		{
						border: solid grey 4px;
						border-radius: 7px;
						background-color: gainsboro;
						padding: 0% 1% 0% 1%;
						margin: 0%;
					}